{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create review" %}{% endblock %}

{% block main %}
    <br><br><br><div class="container">
        <div class="row"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h1>{% trans "Create review" %}</h1>
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input style="float: right" type="submit" class="btn btn-lg btn-outline-secondary"
                           value="{% trans "Save" %}" />
                </form>
            </div>
            <div class="col-lg-4"></div>
    </div>
{% endblock %}
